html, body {
	margin: 0;
	madding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Arial';
}

a, a:link, a:active { color: #cc7722; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Formulaires */
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
}

#search {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
	margin: 0 auto;
}

.element {
	margin: 1px auto;
	padding: 0;
	border-radius: 5px;
	border: 1px solid #fff;
	overflow: hidden;
}

.element:hover {
	border: 1px solid #020;
}

.element h3 {
	cursor: pointer;
	/**/
	padding: 5px;;
	margin: 0;
	font-size: 14px;
	color: #262;
}

.element:hover > h3 {
	background: #020;
	color: #fff;
}

#listing {
	margin-top: 40px;
	padding: 20px;
}

.subelement { display: none; padding: 2px 10px; }
.active { border: 1px solid #020; background: #efe; }
.active > h3{ background: #020; color: #fff; }
.active .subelement { display: block; }
